@font-face {
    font-family: "page2";
    src: url("fahadcomplexv2imagesfont/p2.woff2");
}
:root{
    --first-color: #942f2f;
    --second-color: #1f1f1f;
    --third-color: #ffffff;
}

::selection{
    background-color: var(--second-color);
    color: var(--third-color);
}

body{
    background-color: var(--first-color);
    color: var(--second-color);
}


#surah{
    border-radius: 10px;
}

p.page{
    margin: 100px 550px 0px 550px;
    /* font-family: "pageN"; */
    font-size: 55px;
    text-align: center;
}

p.pageNumber{
    text-align: center;
    font-size: 20px;
}

hr{
    border: 1px solid var(--second-color);
    max-width: 1000px;
}