<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="stylesheet/najm.css">
    <link rel="stylesheet" href="stylesheet/fahadcomplexev2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Najm</title>
</head>
<body>
    <div id="loading"><h1 id="star">☆</h1></div>

    <% if (surah_number) { %>
        <div id="surah"></div>
    <% } %>

    <% if (!surah_number) { %>
        <div id="surahs">
            <h1>Sourates :</h1>
        </div>
    <% } %>
</body>
<script src="script/najm.js">
</script>
<script>
    <% if (surah_number) { %>
        loadingAnimation()
        genSurah(<%= surah_number %>)
    <% } else { %>
        genSurahs()
    <% } %>

</script>
</html>